In [8]:
import pandas as pd
import request

In [2]:
from bs4 import BeautifulSoup

In [3]:
tb = soup.table

In [4]:
# column names
rows = tb.find_all('tr')
rows[0].find_all('th')
colname = [a.text.strip() for a in rows[0].find_all('th')]
colname[0] = 'Done_online'
colname.pop(1)
data = pd.DataFrame(columns=colname)
data

Empty DataFrame
Columns: [Done_online, Title, Solution, Acceptance, Difficulty, Frequency]
Index: []

In [5]:
for row in rows[1:-1]:
    cols = row.find_all('td')
    ind = int(cols[1].text)
    data.loc[ind,'Done_online'] = cols[0]['value'] if 'value' in cols[0].attrs else None
    data.loc[ind,'Title'] = cols[2].attrs['value']
    data.loc[ind,'Lock'] = True if cols[2].span else False
    data.loc[ind,'problem_url'] = cols[2].a['href'] if cols[2].a else None
    data.loc[ind,'artivle_url'] = cols[3].a['href'] if cols[3].a else None
    data.loc[ind,'Acceptance'] = float(cols[4]['value'])
    data.loc[ind,'Difficulty'] = cols[5].text.strip()
data

,Done_online,Title,Solution,Acceptance,Difficulty,Frequency,Lock,problem_url,artivle_url
175,ac,Combine Two Tables,NaN,41.8142,Easy,NaN,False,/problems/combine-two-tables,/articles/combine-two-tables
176,ac,Second Highest Salary,NaN,22.5887,Easy,NaN,False,/problems/second-highest-salary,/articles/second-highest-salary
177,ac,Nth Highest Salary,NaN,20.3087,Medium,NaN,False,/problems/nth-highest-salary,None
178,ac,Rank Scores,NaN,28.9319,Medium,NaN,False,/problems/rank-scores,None
180,ac,Consecutive Numbers,NaN,26.9981,Medium,NaN,False,/problems/consecutive-numbers,/articles/consecutive-numbers
181,ac,Employees Earning More Than Their Managers,NaN,38.2425,Easy,NaN,False,/problems/employees-earning-more-than-their-ma...,/articles/employees-earning-more-than-their-ma...
182,ac,Duplicate Emails,NaN,44.5581,Easy,NaN,False,/problems/duplicate-emails,/articles/duplicate-emails
183,ac,Customers Who Never Order,NaN,36.0336,Easy,NaN,False,/problems/customers-who-never-order,/articles/customers-who-never-order
184,ac,Department Highest Salary,NaN,22.3279,Medium,NaN,False,/problems/department-highest-salary,/articles/department-highest-salary
185,ac,Department Top Three Salaries,NaN,19.3101,Hard,NaN,False,/problems/department-top-three-salaries,/articles/department-top-three-salaries
196,ac,Delete Duplicate Emails,NaN,24.4407,Easy,NaN,False,/problems/delete-duplicate-emails,/articles/delete-duplicate-emails
197,ac,Rising Temperature,NaN,30.7658,Easy,NaN,False,/problems/rising-temperature,/articles/rising-temperature
262,ac,Trips and Users,NaN,19.2212,Hard,NaN,False,/problems/trips-and-users,None
569,None,Median Employee Salary,NaN,36.4782,Hard,NaN,True,/problems/median-employee-salary,/articles/median-employee-salary
570,None,Managers with at Least 5 Direct Reports,NaN,57.9833,Medium,NaN,True,/problems/managers-with-at-least-5-direct-reports,/articles/managers-with-at-least-5-direct-reports
571,None,Find Median Given Frequency of Numbers,NaN,39.4471,Hard,NaN,True,/problems/find-median-given-frequency-of-numbers,None
574,None,Winning Candidate,NaN,33.2707,Medium,NaN,True,/problems/winning-candidate,/articles/winning-candidate
577,None,Employee Bonus,NaN,51.6112,Easy,NaN,True,/problems/employee-bonus,/articles/employee-bonus
578,None,Get Highest Answer Rate Question,NaN,28.1983,Medium,NaN,True,/problems/get-highest-answer-rate-question,/articles/get-highest-answer-rate-question
579,None,Find Cumulative Salary of an Employee,NaN,27.5804,Hard,NaN,True,/problems/find-cumulative-salary-of-an-employee,/articles/find-cumulative-salary-of-an-employee
580,None,Count Student Number in Departments,NaN,38.934,Medium,NaN,True,/problems/count-student-number-in-departments,/articles/count-student-number-in-departments
584,None,Find Customer Referee,NaN,61.8853,Easy,NaN,True,/problems/find-customer-referee,/articles/find-customer-referee
585,None,Investments in 2016,NaN,45.6008,Medium,NaN,True,/problems/investments-in-2016,/articles/investments-in-2016
586,None,Customer Placing the Largest Number of Orders,NaN,59.79,Easy,NaN,True,/problems/customer-placing-the-largest-number-...,/articles/customer-placing-the-largest-number-...
595,ac,Big Countries,NaN,71.5351,Easy,NaN,False,/problems/big-countries,/articles/big-countries
596,ac,Classes More Than 5 Students,NaN,29.7158,Easy,NaN,False,/problems/classes-more-than-5-students,/articles/classes-more-than-5-students
597,None,Friend Requests I: Overall Acceptance Rate,NaN,37.9668,Easy,NaN,True,/problems/friend-requests-i-overall-acceptance...,/articles/friend-requests-i-overall-acceptance...
601,ac,Human Traffic of Stadium,NaN,33.8722,Hard,NaN,False,/problems/human-traffic-of-stadium,/articles/human-traffic-of-stadium
602,None,Friend Requests II: Who Has the Most Friends,NaN,41.7542,Medium,NaN,True,/problems/friend-requests-ii-who-has-the-most-...,/articles/friend-requests-ii-who-has-most-friend
603,None,Consecutive Available Seats,NaN,54.3702,Easy,NaN,True,/problems/consecutive-available-seats,/articles/consecutive-available-seats
607,None,Sales Person,NaN,50.7218,Easy,NaN,True,/problems/sales-person,/articles/sales-person
608,None,Tree Node,NaN,53.5523,Medium,NaN,True,/problems/tree-node,/articles/tree-node
610,None,Triangle Judgement,NaN,58.4823,Easy,NaN,True,/problems/triangle-judgement,/articles/triangle-judgement
612,None,Shortest Distance in a Plane,NaN,51.7495,Medium,NaN,True,/problems/shortest-distance-in-a-plane,/articles/shortest-distance-in-a-plane
613,None,Shortest Distance in a Line,NaN,70.4103,Easy,NaN,True,/problems/shortest-distance-in-a-line,/articles/shortest-distance-in-a-line
614,None,Second Degree Follower,NaN,23.1545,Medium,NaN,True,/problems/second-degree-follower,None
615,None,Average Salary: Departments VS Company,NaN,31.5556,Hard,NaN,True,/problems/average-salary-departments-vs-company,/articles/average-salary-departments-vs-company
618,None,Students Report By Geography,NaN,41.4099,Hard,NaN,True,/problems/students-report-by-geography,/articles/students-report-by-geography
619,None,Biggest Single Number,NaN,35.8336,Easy,NaN,True,/problems/biggest-single-number,/articles/biggest-single-number
620,ac,Not Boring Movies,NaN,59.3724,Easy,NaN,False,/problems/not-boring-movies,/articles/not-boring-movies
626,ac,Exchange Seats,NaN,48.0574,Medium,NaN,False,/problems/exchange-seats,/articles/exchange-seats
627,ac,Swap Salary,NaN,67.0504,Easy,NaN,False,/problems/swap-salary,/articles/swap-salary

In [6]:
data.to_json('data.json')